@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="col-md-6">
        <img class="imgChart" src="/Home/ChartCreator?typ=Column" alt="Product Chart" />
    </div>
    @*<div class="col-md-6">
            <img src="/Home/ChartCreator?typ=Line" alt="Product Chart" />
        </div>*@
</div>