@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="col-md-6">
        <img class="imgChart" src="/Home/ChartCreator?typ=Column&cache=chart-column" alt="Product Chart" />
    </div>
    <div class="col-md-6">
        <img class="imgChart" src="/Home/ChartCreator?typ=Line&cache=chart-line" alt="Product Chart" />
    </div>
    <div class="col-md-6">
        <img src="/Home/ChartCreatorPie?typ=Pie&cache=chart-pie" alt="Product Chart" />
    </div>
    <div class="col-md-6">
        <img src="/Home/ChartCreatorPie?typ=Doughnut&cache=chart-doughnut" alt="Product Chart" />
    </div>
</div>